body {
    font-family: garamond, sans-serif;
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.signup-container {
    background-color: white;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}
.logo {
    width: 50px;
    height: 25px;
    margin-bottom: 10px;
}
h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.input-group input:focus {
    border-color: #1F3B5A;
    outline: none;
}

.toggle-password {
    cursor: pointer;
    color: #1F3B5A;
    float: right;
    margin-top: -30px;
    margin-right: 10px;
}

.password-strength {
    height: 5px;
    background-color: lightgray;
    margin-top: 5px;
    border-radius: 4px;
}

.password-strength.weak {
    background-color: red;
}

.password-strength.medium {
    background-color: orange;
}

.password-strength.strong {
    background-color: green;
}

.error-message {
    color: red;
    font-size: 12px;
    display: none;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #1F3B5A;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #163047;
}

.login-link {
    margin-top: 20px;
}

.login-link a {
    color: #1F3B5A;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}